@import "../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "mixins/example-mixin";

@media (min-width: $screen-sm-min) {
  .content-container {
    .message {
      @include example-mixin(blue);
    }
  }
}
